body {
	background: #F1E4FE;
}
h2, h3, h4, h5 {
	text-transform: uppercase;
	font-family: 'open_sansregular';

	text-align: center;
}

div {
	font: 16px 'open_sansmedium', arial;
}

form {
	font: 16px 'open_sansbold', arial;
}

input {
	width: 35px;
	padding: 5px;

	text-align: center;
	font: 14px 'open_sansregular', arial;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.container {
	width: 95%;
	margin: auto;
}
.container-left {
	float: left;
	width: 50%;
}
.container-right {
	float: right;

	width: 45%;
	min-height: 350px;
}
.form-quadr {
	text-align: center;	
}
.container-equation {
	float: left;

	background: #B1A5DE;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	
	padding: 15px;
	transform: perspective(700px) translate3d(0,0,10px);
}
.container-equation.right {
	float: right;
}
.js-error {
	margin-top: 10px;

	font: 16px 'open_sanslight', arial;
	color: #f70935;
	text-transform: uppercase;
}
.result {
	width: 50%;

	padding: 10px;
	background: #81A34A;
	color: #fff;

	text-align: center;
	border-radius: 10px;
	border: 1px solid #fff;

	margin: 10px auto 20px;
}
.input-checkbox {
	display: none;
}
.input-label {
	display: block;
	
	position: relative;

	padding-left: 30px;
	margin-bottom: 10px;

	vertical-align: middle;
}
.input-label:before {
	content: '';

	height: 20px;
	width: 20px;

	position: absolute;
	top: -5px;
	left: 0;

	border: 2px solid #B6BF85;
	border-radius: 5px;
}
.input-checkbox:checked+.input-label:before{
	content: '\2718';
	color: #fff;
	
	background: #B6BF85;
	
	text-align: center;
}
.points-wrapper {
	padding-top: 20px;
}
.show-points {
	width: 55%;
	float: left;
}
.change-color {
	color: #594C91;
	text-decoration: none;
}
.choose-color {
	width: 40%;
	float: right;

	background: rgba(182,191,133, .7);
	border-radius: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 15px;

	visibility: hidden;
}
.color-span {
	display: inline-block;
	width: 20px;
	height: 20px;

	cursor: pointer;
}
.active {
	visibility: visible;
}
/* Таблица с координатами точек */
.points {
	margin: auto;
	border-collapse: collapse;
}
.points td {
	padding: 10px;
	border: 1px solid gray;
}
.points tr:nth-child(2n) {
	background: #81A34A;
	color: #fff;
}
/* Таблица с координатами точек */