body {
	background: #F1E4FE;
	margin: 0;
	padding: 0;
}

h2, h3, h4, h5 {
	text-transform: uppercase;
	font-family: 'open_sansregular';

	text-align: center;
}

div {
	font: 16px 'open_sansregular', arial;
}

form {
	font: 16px 'open_sansmedium', arial;
}

input {
	width: 35px;
	padding: 5px;

	text-align: center;
	font: 14px 'open_sanslight', arial;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.wrapper {
	box-sizing: border-box;

	width: 100%;
	min-height: calc(100vh - 20px);

	position: relative;
	padding-bottom: 50px;
}
.container {
	width: 95%;
	margin: auto;
}
.container-left {
	float: left;
	width: 50%;
}
.container-right {
	float: right;

	width: 45%;
	min-height: 350px;
}
@media screen and (max-width: 1210px) {
	.container-left {
		width: 30%;
	}
	.container-right {
		width: 65%;
	}
}
.form-quadr {
	text-align: center;	
}
.container-equation {
	float: left;

	background: #B1A5DE;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	
	padding: 20px;
	transform: perspective(700px) translate3d(0,0,10px);
}
.container-equation.right {
	float: right;
}
@media screen and (max-width: 1210px) {
	.container-equation,
	.container-equation.right {
		float: none;
		display: inline-block;

		margin: 10px auto;		
	}
}
.js-error {
	margin-top: 10px;

	font: 16px 'open_sanslight', arial;
	color: #f70935;
	text-transform: uppercase;
}
.result {
	width: 50%;

	padding: 10px;
	background: #81A34A;
	color: #fff;

	text-align: center;
	border-radius: 10px;
	border: 1px solid #fff;

	margin: 10px auto 20px;
}
@media screen and (max-width: 1210px) {
	.result {
		width: 100%;
		margin: 10px 0 20px;  		
	}
}
.href-points,
.href-graph,
.add-graph {
	text-decoration: none;
	color: #81A34A;
	padding: 5px;

	transition: .3s ease-in-out;
}
.href-graph,
.add-graph {
	display: block;
}
.href-graph:hover,
.href-points:hover,
.add-graph:hover {
	color: #608c15;
} 
.href-graph:before,
.href-points:before,
.add-graph:before {
	content: '\2718';
	color: #594C91;
	margin-right: 5px;
}

.points-wrapper {
	padding-top: 20px;
}
.show-points {
	width: 45%;
	float: left;

	border: 1px solid #B1A5DE;
	border-radius: 10px;
	padding: 10px;
}
.change-color {
	color: #594C91;
	transition: .3s ease-in-out;

	cursor: pointer;
}
.change-color:hover {
	color: #6548d6;
}
.choose-color {
	width: 40%;
	float: right;

	background: rgba(182,191,133, .7);
	border-radius: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 15px;
}
.color-span {
	display: inline-block;
	width: 20px;
	height: 20px;

	cursor: pointer;
}
@media screen and (max-width: 1210px) {
	.show-points {
		width: 100%;
	}
	.choose-color {
		width: 60%;
		float: none;

		margin: 0 auto 10px;
	}
}
/* Таблица с координатами точек */
.points,
.js-logsTable {
	margin: 0 auto 20px;
	border-collapse: collapse;
}
.points td,
.js-logsTable td,
.js-logsTable th {
	padding: 10px;
	border: 1px solid gray;
	font: 12px 'open_sanslight', arial;
}
.points tr:nth-child(2n) {
	background: #81A34A;
	color: #fff;
}
/* Таблица с координатами точек */
.js-graph {
	margin-bottom: 20px;
}
.logs-button {
	display: block;

	width: 100px;
	line-height: 30px;
	
	text-decoration: none;
	text-align: center;

	background: #B1A5DE;
	border-radius: 5px;
	color: #fff;
	font: 12px 'open_sanslight', arial;

	margin: 10px auto;
	padding: 7px;

	transition: .3s ease-in-out;
}
.logs-button:hover {
	background: #594C91;
}
.footer {
	height: 40px;
	width: 100%;
	background: #81A34A;
	color: #fff;
	
	box-sizing: border-box;
	border: 1px solid #81A34A;

	position: absolute;
	bottom: 0;
	left:0;

	padding: 10px;
	text-align: right;

	line-height: 40px;
	font: 12px 'open_sanslight', arial;
}
/* Страница Логи */
.logs-table {
	width: 90%;
	margin: auto;
}
.logs-button.back {
	float: right;
}
.js-logsTable {
	width: 100%;
}
/* Страница Логи */